<header class="ct-header" layout="column" layout-gt-sm="row" layout-align="space-between center">
  <div flex layout-gt-sm="row" layout="column" layout-align="start">
  	<a href="http://www.cisco.com"><img src="assets/images/cisco-logo.svg" alt="Cisco logo" class="ct-header__logo" ui-sref="main"></a>
    <h1 ui-sref="main" class="ct-header__title">Tetration Analytics ROI Tool</h1>
  </div>
  <div flex class="ct-header__info">
  	<i class="fa fa-question-circle" ng-click="showInfo = !showInfo">
     <md-tooltip>Help</md-tooltip> 
    </i>
  		<md-card class="ct-header__info__content" ng-show="showInfo">
  			<md-card-content>
          <div layout="row" layout-align="end"><i class="fa fa-close" ng-click="showInfo = false"></i></div>
          <p>
            This tool is compatible with the following browsers and operating systems:
          </p>
          <ul>
            <li>Internet Explorer 11 & Edge (Windows)</li>
            <li>Google Chrome (Windows, OSX, and iOS)</li>
            <li>Mozilla FireFox (Windows, OSX)</li>
            <li>Safari (Windows, OSX, iOS)</li>
          </ul>
          <p>
            Please let us know how to improve this tool and any other feedback you would like to share to <a href="mailto:tetration@cisco.com">tetration@cisco.com</a>.
          </p>
  			</md-card-content>
  		</md-card>
  	</i>
  </div>
</header>