.ct-header {
  box-shadow: $box-shadow;
  border-bottom: $rule;
  padding: 1em;
  &__logo {
    max-width: 65px;
    margin-right: 2em;
  }
  &__title {
    @include layout--sm {
      text-align: center;      
    }
  }
  h1 {
  	margin: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 0.75em 3em;
  }
  &__info {
    text-align: right;
    position: relative;
    &__content {
      position: absolute;
      right: 0;
      text-align: left;
    }
  }
}