.ct-header {
  box-shadow: $box-shadow;
  border-bottom: $rule;
  padding: 1em;
  &__logo {
    max-width: 65px;
    margin-right: 2em;
  }
  h1 {
  	margin: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 0.75em 3em;
  }
}