<div class="footer" layout="column" layout-gt-sm="row" layout-align="space-between">
	<div class="footer__main-links" flex layout="row" layout-align="space-between" layout-wrap>
	  <a href="http://www.cisco.com/c/en/us/about/legal/terms-conditions.html" flex="noshrink"><div>Terms & Conditions</div></a>
	  <a href="http://www.cisco.com/c/en/us/about/legal/privacy-full.html" flex="noshrink"><div>Privacy Statement</div></a>
	  <a href="http://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" flex="noshrink"><div>Cookie Policy</div></a>
	  <a href="http://www.cisco.com/c/en/us/about/legal/trademarks.html" flex="noshrink"><div>Trademarks</div></a>
	</div>
	<div class="footer__social" flex layout="row" layout-align-gt-sm="end center" layout-align="start">
		<div>Connect</div>
		<a href="https://www.facebook.com/ciscodc"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/ciscodc"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/showcase/3511861/"><i class="fa fa-linkedin"></i></a>
		<a href="http://blogs.cisco.com/datacenter"><i class="fa fa-rss"></i></a>
	</div>
</div>
