<div class="footer" layout="column" layout-gt-sm="row" layout-align="space-between">
	<div class="footer__main-links" flex layout="row" layout-align="space-between" layout-wrap>
	  <a href="#" flex="noshrink"><div>Terms & Conditions</div></a>
	  <a href="#" flex="noshrink"><div>Privacy Statement</div></a>
	  <a href="#" flex="noshrink"><div>Cookie Policy</div></a>
	  <a href="#" flex="noshrink"><div>Trademarks</div></a>
	</div>
	<div class="footer__social" flex layout="row" layout-align-gt-sm="end center" layout-align="start">
		<div>Connect</div>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-rss"></i></a>
	</div>
</div>
