.footer {
  padding: 1em 4em;
  @include layout--sm {
  	padding: 1em;
  }
  border-top: 1px solid #E5E5E5;
  background-color: #8e9299;
  color: #FFF;
  font-size: 0.85em;
  .fa {
  	color: #FFF;
  	margin-left: 2em;
  }
  a {
  	color: #FFF;
  	text-decoration: none;
  }
  &__social, &__main-links {
  	@include layout--lg('invert') {
  		padding-top: 1em;
  		padding-bottom: 1em;
  	}
  }
  &__main-links a {
  	@include layout--sm {
  		padding-top: 1em;
  	}
  }
}
