md-sidenav, md-sidenav md-content {
  background-color: $palette--bg--secondary;
}
.ct-input-controls {
  &__container {
    margin-bottom: 1em;
    &:hover .fa {
      opacity: 1;
      cursor: pointer;
    } 
  }
  &__label {
    font-size: 0.85em;
  }
  &__value {
    text-align: right;
    font-weight: $font__weight--bold;
    .fa {
      color: $palette--gray;
      font-size: 0.85em;
      opacity: 0;
    }
  }
}
.results {
  &__header {
    @include layout--lg('invert') {
      text-align: center;
      margin-bottom: 2em;
    }
  }
  &__highlights {
    text-align: center;
    &__label {
      color: $palette--gray;
      font-size: 1.2em;
    }
    &__value {
      color: $palette--text;
      font-weight: $font__weight--bold;
      font-size: 2.4em;
    }
  }
  &__table {
    &__row {
      border-bottom: $rule;
      padding: 0.25em 3em;
      @include layout--sm {
        padding: 1em;
      }
      &__header {
        color: $palette--gray;
      }
      &__value {
        text-align: right;
        font-weight: $font__weight--bold;
      }
    }
  }
}