.ct-input-controls {
  &__container {
    margin-bottom: 1em;
    &:hover .fa {
      opacity: 1;
      cursor: pointer;
    } 
  }
  &__label {
    font-size: 0.85em;
  }
  &__value {
    text-align: right;
    font-weight: $font__weight--bold;
    .fa {
      color: $palette--gray;
      font-size: 0.85em;
      opacity: 0;
    }
  }
}