.collapsable-panel {
  &__section {
    &__header {
      font-weight: $font__weight--bold;
      &__label {
        padding: 0 0.5em;
      }
    }
    &__body {
      margin: 1em;
      background-color: $palette--bg--secondary;
      padding: 1em;
      max-height: 300px;
      overflow-y: scroll;
      border-top: $rule;
      border-bottom: $rule;
    }
  }
}
.advanced-field {
  h3 {
    font-size: 1rem;
    font-weight: $font__weight--bold;
    margin-bottom: 0;
  }
}