$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-material/angular-material.min';

@font-face {
  font-family: "Cisco Sans";
  src: url(/assets/fonts/cisco-sans/CiscoSansTT-Light.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cisco Sans";
  src: url(/assets/fonts/cisco-sans/CiscoSansTT-Oblique.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cisco Sans";
  src: url(/assets/fonts/cisco-sans/CiscoSansTT-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cisco Sans";
  src: url(/assets/fonts/cisco-sans/CiscoSansTT-BoldOblique.otf);
  font-weight: 700;
  font-style: italic;
}
/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Variables
$palette--bg: #F5F5F5;
$palette--bg--primary: #425563;
$palette--accent: #01A982;
$palette--light-gray: #CCCCCC;
$palette--text: #58585b;
$palette--black: #222222;
$palette--alert: #FFD042;
$palette--gray: #999999;
$font__weight--bold: 700;
$box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
$rule: thin solid $palette--light-gray;

// Animation

@mixin quint-ease-out($target: all, $duration: 600ms, $target2: false, $duration2: 400ms) {
  @if $target2 == false {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1);
  }
  @else {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1), $target2 $duration2 cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@mixin quint-ease-in($target: all, $duration: 600ms, $target2: false, $duration2: 400ms) {
  @if $target2 == false {
    transition: $target $duration cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  @else {
    transition: $target $duration cubic-bezier(0.755, 0.05, 0.855, 0.06), $target2 $duration2 cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
}
.slide {
  &--off {
    @include quint-ease-out(transform, 400ms);
    transform: translateX(0%);
  }
  &--on {
    transform: translateX(100%);
  }
}

// Material layout bug fix
@media screen and (max-width: 960px) {
  [layout=column] { display: block; }
}
[layout-sm=column] { display: block; }

// Main styles
body {
  font-family: 'Cisco Sans';
  font-size: 18px;
  color: $palette--text;
}
h1, h2 {
	font-weight: 400;
	color: $palette--text;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.15em;
  font-weight: $font__weight--bold;
}
img {
	max-width: 100%;
}
.md-button {
  font-weight: $font__weight--bold;
  margin-left: 0;
}
.md-button.md-accent.md-raised,
.md-button.md-primary.md-raised {
  color: #FFF;
}
p {
  max-width: 700px;
}
.ct-container {
  padding: 1em;
  @media screen and (min-width: 768px) {
    padding: 3em;
  }
  & + & {
  	padding-top: 0;
  }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'main/main';
@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/horizontal-stepper/horizontal-stepper';
@import '../components/question/question';
/* endinject */
