.horizontal-stepper {
	&__header {
		padding: 1em 1em;
		border-bottom: thin solid $palette--light-gray;
		overflow-x: scroll;
	}
	&__line {
    border-bottom: thin solid $palette--light-gray;
    width: 80%;
	}
	&__label {
		margin: 0 1em;
		&__indicator {
			text-align: center;
			background-color: $palette--accent;
			color: #FFF;
			border-radius: 25px;
			width: 22px;
			height: 22px;
			margin-right: 0.75em;
			font-size: 0.8em;
			font-weight: $font__weight--bold;
			position: relative;
			top: 0.4em;
			span {
				position: absolute;
				top: 2px;
    		left: 0;
    		right: 0;
    		&::before {
    			position: absolute;
    			top: 0.22em;
			    left: 0;
			    right: 0;
    		}
			}
		}
		&__name {
			padding-top: 0.45em;
			margin: 0;
			color: $palette--gray;
			font-size: 1rem;
			&.active {
				color: $palette--black;
			}
		}
	}
	&__actions {
		padding-top: 1em;
		.fa-info-circle {
			color: $palette--alert;
		}
	}
}
.horizontal-step {
	&__body {
		overflow: hidden;
		padding-top: 2em;
		background-color: #FFF;
	}
	&__actions {
		padding-top: 1em;
		.fa-info-circle {
			color: $palette--alert;
		}
	}
}