<md-card class="horizontal-stepper" steps="$ctrl.steps" id="stepper">
	<div class="horizontal-stepper__header" layout="row" layout-align="space-between">
		<div class="horizontal-stepper__header__step" ng-repeat="step in $ctrl.steps">
			<div class="horizontal-stepper__label" ng-class="{active: step.active}" layout="row" ng-click="$ctrl.goToStep(step)">
			  <div class="horizontal-stepper__label__indicator">
			    <span ng-if="step.complete" class="fa fa-check"></span>
			    <span ng-if="!step.complete">{{step.label}}</span>
			  </div>
			  <h4 class="horizontal-stepper__label__name truncate" ng-class="{active: step.active}">{{step.name}}</h4>
				<!-- <div class="horizontal-stepper__line" ng-hide="$last"></div> -->
			</div>
		</div>
	</div>
	<md-card-content ng-transclude></md-card-content>
	<div class="step__actions" layout="row" layout-align="end">
	  <md-button class="md-raised" ng-hide="$first" ng-click="$ctrl.previousStep();" aria-label="continue">
	    Back
	  </md-button>
	  <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();" aria-label="continue">
	    Continue
	  </md-button>
	</div>
	<!-- <div layout="row" layout-align="end" class="step__actions">
	  <em ng-show="!$ctrl.isSectionIncomplete(step.questions);"><i class="fa fa-info-circle"></i> Complete all questions in this section to continue</em>
	</div> -->
</md-card>