<section class="ct-container">
  <div layout-gt-sm="row" layout="column">
    <div flex="70">
      <h2>Calculate your cost benefits</h2>
      <p>Donec gravida condimentum sapien, tincidunt posuere ante mollis sit amet.</p>
      <p>Etiam auctor leo metus, quis gravida nisi auctor ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In venenatis, leo gravida faucibus semper, risus leo suscipit lacus, vitae placerat elit risus non elit.</p>
    </div>
    <div flex="30">
      <img class="image--hang-right" src="assets/images/cost-benefits.png" alt="Costs and benefits">
    </div>
  </div>
</section>
<section class="ct-container">
  <h2>Begin the assessment</h2>
  <horizontal-stepper steps="$ctrl.steps">
    <horizontal-step ng-repeat="step in $ctrl.steps" ng-show="step.active" active="step.active">
      <div layout="column">
        <div class="questions">
          <div class="question">
            <p>How many annual applications will you migrate each year?</p>
            <md-input-container layout="row">
              <label># of applications per security zone</label>
              <input type="text" ng-model="foo" flex flex-gt-sm="50">
            </md-input-container>
          </div>
          <div class="question">
            <p>How many changes in the network or security environment will you require each year?</p>
            <md-input-container layout="row">
              <label># of applications per security zone</label>
              <input type="text" ng-model="foo" flex flex-gt-sm="50">
            </md-input-container>
          </div>
          <div class="question">
            <p>How many applications will be impacted during a single change?</p>
            <md-input-container layout="row">
              <label># of applications per security zone</label>
              <input type="text" ng-model="foo" flex flex-gt-sm="50">
            </md-input-container>
          </div>
        </div>
      </div>
    </horizontal-step>
  </horizontal-stepper>
</section>
<div id="shadow-form" style="display:none">
  <div ng-repeat="step in $ctrl.steps">
    <h3>{{step.name}}</h3>
    <div ng-repeat="question in step.questions">
      <label>Question {{question.number}}</label>
      <input
        type="text" 
        class="regInput microToolInput"
        id="{{question.dbEntity}}"
        data-dbentity="{{question.dbEntity}}"
        data-analyticsname="{{question.analyticsName}}" 
        ng-model="question.value"
        >
    </div>
  </div>
  <button id="msUpdateInputs" onclick="msUpdateInputs()">Update</button>
</div>
